*.py[cod]

# C extensions
*.so
*.pdb

# Packages
*.egg
*.egg-info
dist
build
eggs
sdist
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

tmp/
tmp.c
*.log
*~

